@import "../../assets/css/Dimensions.scss";

.contentHeader {
  display: flex;
  align-items: center;
  .contentImg {
    width: 24%;
    text-align: center;
    padding: $padding;
  }
  .contentInfo {
    padding: 2em 0;
    h1 {
      padding-left: 0;
      border: none;
    }
  }
}
.headerElements {
  display: flex;
  flex-direction: column;
}


.headerWithForm{
  display: flex;
  form{
    min-width: 430px;
    padding: 0!important;
    margin: 0!important;
    border: none!important;
    &.formSelect{
      display: flex;
      margin: 0 15px;
    }
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2em 2em;
  grid-auto-rows: 1fr;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2em;
  a {
    color: #000000 !important;
    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    p {
      opacity: 0.65;
      min-height: 25px;
    }
  }
  div {
    padding: 1em;
    background: #fff;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1),
      box-shadow 0.2s ease;
    border-radius: 4px;
    height: 100%;

    &:hover {
      box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
      h2 {
        color: #0c4da1;
      }
    }

    span {
      border-radius: 100%;
      background-color: #3333330f;
      svg {
        font-size: 45px;
        padding: 10px;
      }
    }
  }
  .internalPortal {
    grid-area: internalPortal;
    span {
      background-color: #0c4da11a;
    }
    path {
      fill: #0c4da1;
    }
  }
  .informationalPortal {
    grid-area: informationalPortal;
    span {
      background-color: #1d95ae1a;
    }
    path {
      fill: #1d95ae;
    }
  }
  .eLearningPortal {
    grid-area: eLearningPortal;
    span {
      background-color: #c7b24b1a;
    }
    path {
      fill: #c7b24b;
    }
  }
  .theJournalOfInitialCandidates {
    grid-area: theJournalOfInitialCandidates;
    span {
      background-color: #cd81501a;
    }
    path {
      fill: #cd8150;
    }
  }
  .adminPanel {
    grid-area: adminPanel;
    span {
      background-color: #db31341a;
    }
    path {
      fill: #db3134;
    }
  }
}

/* Responsive */
@media only screen and (max-width: 959px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
