.formContainer {
  position: relative;
}

.tabsContainer {
  position: relative;
}
.headerElements {
  display: flex;
  flex-direction: column;
}
.headerElementsRow {
  display: flex;
  flex-direction: row;
}
