//@import "../../assets/css/Dimensions.scss";

.remindersWrap {
  //border: 1px solid #f0f0f0;
  width: 100%;
  //padding: 2em;
}
.remove {
  margin-left: auto;
  justify-self: self-start;
  padding: 0;
}
