.scheduleWrap {
  :global {
    td.ant-table-cell.ant-table-row-expand-icon-cell::after {
      content: "Add instances";
      display: grid;
      white-space: nowrap;
      padding-left: 10px;
      margin-right: 10px;
      line-height: 1.3;
    }
  }
}

.lectureInstanceWrap {
  > div:first-child {
    border-top: none;
    padding-top: 0;
  }
}

.lectureInstance {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  padding-top: 24px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.lectureInstanceData {
  flex: 1;
}

.removeLectureWrap {
  align-items: center;
}