.tag {
  font-size: 14px!important;
  margin-bottom: 2px;
  max-width: 100% !important;
  height: 16px!important;
  text-align: left;
  margin-left: 0!important;
  line-height: 10px!important;
  border-radius: 2px!important;
  cursor: pointer!important;
}
